<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 主清单声明 tools:replace 表示允许被覆盖，其它清单 tools:replace 表示请求要覆盖，必须双方都要声明 -->
    <application
        android:name=".FloatButtonApp"
        tools:ignore="MissingApplicationIcon"
        tools:replace="android:name">

        <service
            android:name=".FloatButtonService"
            android:enabled="true"
            android:exported="false"
            tools:targetApi="23" />

    </application>

</manifest>
