*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.apk
/*/app/
/*/release/

/config_sign.gradle
/android.jks
*.jks

lint-baseline.xml
full-r8-config.txt

# Http Client 的环境私有配置，可以忽略
# http-client.private.env.json
