<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 悬浮窗权限（库被集成时自动合并到主项目） -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>

        <!--
        ContentProvider 自动初始化 DebugBaseUrl
        - 由系统在 Application 实例创建后、Application.onCreate() 之前调用 onCreate()
        - 仅在 debuggable Application 中激活 BaseUrl 切换逻辑
        -->
        <provider
            android:name=".DebugToolsInitializer"
            android:authorities="${applicationId}.debugtools.initializer"
            android:enabled="true"
            android:exported="false"
            android:initOrder="100" />

    </application>

</manifest>
