<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application tools:ignore="MissingApplicationIcon">

        <service
            android:name=".DebugWindowService"
            android:enabled="true"
            android:exported="false"
            tools:targetApi="23" />

        <!--
        ContentProvider 自动初始化方案
        由系统在 Application 实例创建后、Application.onCreate() 之前调用 onCreate()
        -->
        <provider
            android:name=".DebugWindowInitializer"
            android:authorities="${applicationId}.floatbutton.initializer"
            android:enabled="true"
            android:exported="false"
            android:initOrder="100" />

    </application>

</manifest>
